
/* see 'main' in app.css for light-grey structure */

.buyers{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

#butts{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    /* margin-top: 4vh; */
}


.buttons{ 
    background-color: Transparent;
    outline: none;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;    
    color: white;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:
		-1px -1px 0 grey,
		1px -1px 0 grey,
		-1px 1px 0  grey,
        1px 1px 0  grey;
    margin-bottom: 0.5vh;
}
.tabl{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    margin-left: 10vw;
    
}

table {
    width: 20vw;
    margin-left: 2vw;
}

#picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;   
    margin-bottom: 4vh;
}

#buyInfo2{
    border: 0.5px solid gray;
    margin-left: 2vw;
}
.buyMain{
    /* display: flex;
    flex-wrap: wrap;*/
    margin-top: 4vh;
    /* border-bottom: 1px dotted grey;  */
    width: 70vw;

}