
/* see 'main' in app.css for light-grey structure */


#buyinfo {
display: flex;
justify-self: flex-start;
justify-content: flex-start;

flex-direction: column;
}

#picture {
    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 40vh;
}